@import './variables.scss';

// Styles for the index.html page

// Profile Section
.profile-section {
    position: relative;
    height: 100vh;
    background-color: $off-white;
    padding-bottom: 100px;

    // Profile Card and Overlay
    .profile-img {
        width: 90vw;
        height: 500px;
        overflow: hidden;
        border-radius: 10px;
        z-index: 1;

        .profile-overlay {
            position: absolute;
            margin-left: 10%;
            width: 80%;
            bottom: 0%;
            z-index: 2;
    
            .wrapper {
                background-color: $light-grey;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px;

                > * {
                    padding: 0 0 0 0;
                    margin-bottom: 0px;
                }
            }
        }
    }    

    // Buttons underneath profile picture
    .profile-buttons {
        padding-top: 40px;

        .btn {
            border-radius: 50%;
            background-color: $light-grey;
            color: rgb(65, 180, 65);

            .no {
                color: rgb(189, 27, 27);
            }

            span {
                font-size: 40pt;
                padding: 15px;
            }
        }
    }
}

#match-modal {
    margin-top: 20vh;

    button {
        border-radius: 20px;
    }
}

