@import './variables.scss';

body {
    background-color: $off-white;
}

/* Intro Jumbotron with Parallax */
#home-jumbotron {
    background-image: url('../images/paint-black.jpg');
    color: #fff;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-toggler {
        border-style: none;
    }
    // NavBar Style inside Jumbotron
    .nav-item{ 
        margin-right: 30px;

        .nav-link {
            color: red;
            font-size: 20px;
            font-family: $font-sans;
        }
    }

    .container {
        margin-top: 8%;
        font-family: $font-serif;
    }
}

@media only screen and (max-device-width: 1366px) {
    #home-jumbotron {
      background-attachment: scroll;
    }
  }