@import './variables.scss';

body {
    background-color: $off-white;
}

/* Intro Jumbotron with Parallax */
#home-jumbotron {
    background-color: $off-white;
    height: 700px;
}

.navbar {
    background-color: $off-white;

    button {
        border-style: none;
    }
    
    .nav-item{ 
        margin-right: 30px;
    
        .nav-link {
            font-size: 20px;
            font-family: $font-sans;
        }
    }
}

footer {
    background-color: $light-grey;
}