@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap');

$font-serif: 'Arapey', serif;
$font-sans: 'Barlow', sans-serif;

$off-white: #f6f7fa;
$light-grey: #efefef;
$med-grey:#a1a1a1;