@import './variables.scss';
@import '../../../node_modules/rfs/scss';

.title-row {
    .name {
        font-family: $font-serif; 
    }
    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    //bringing down sub-title to title's level
    .sub-title {
        margin-left: 10px;
        margin-top: 7px;
    }
    //float left on these two so they are side-by-side
    .title , .sub-title {
        margin-bottom: 0;
        float: left;
    }
}

.about-row {
    .img-fluid {
        background-color: $grey;
        border-radius: 50%;
        padding: 5px;
    }
}

.skills-container {
    background-color: $dark-main;
    color: $off-white;
    h1 {
        @include rfs(50px); // responsive font size mixin
        font-family: $font-serif;
    }

    hr {
        margin-top: 0;
        margin-bottom: 1.5rem;
        width: 90%;
        background-color: $off-white;
        opacity: .3;
    }

    .tech-row {
        background-color: #451f49;
        padding: 1.5rem 1.5rem;
        border-radius: 10px;
        .title {
            h2 {
                @include rfs(28px); // responsive font size mixin
            }
        }
        .card {
            margin: 1% 10% 0% 0%;
            width: 10%; 
            min-width: 70.52px;

            float: left;
            background-color: #451f49;
            border-style: none;
        }
    }
}

@media only screen and (max-width: 575px){
    .title-row {
        text-align: center;
        .title , .sub-title {
            float: none;
        }
    }

    .about-row {
        .blurb {
            padding-top: 10px;
            text-align: center;
        }
    }
}