@import './variables.scss';

// Global styles that all html files need

html {
    position: relative;
    width: 100vw;
    min-height: 100%;
}

body {
    font-family: $font-sans;
    background-color: $off-white;
    margin-bottom: 400px;
}

.navbar {
    background-color: $off-white;
    position: relative;

    .navbar-brand {
        margin-left: 10px;
    }

    button {
        border-style: none;
    }
    
    .nav-item{ 
        margin-right: 30px;
    
        .nav-link {
            font-size: 18px;
        }
    }
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: $light-grey;
}
