@import './variables.scss';

// Global styles that all html files need

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: $font-sans;
    color: $font-dark;
    background-color: $off-white;
    margin-bottom: 400px;
}

.navbar {
    background-color: $off-white;
    position: relative;

    .navbar-brand {
        margin-left: 10px;
    }

    button {
        border-style: none;
    }
    
    .nav-item{ 
        margin-right: 30px;
    
        .nav-link {
            font-size: 18px;
        }
    }
}

.bottom-col {
    // display: table-cell;
    vertical-align: bottom;
    float: none;

}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: $light-grey;
}
