@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap');

$font-serif: 'Arapey', serif;
$font-sans: 'Barlow', sans-serif;

$off-white: #f6f7fa;
$light-grey: #ececec;
$grey: #d4d4d4;
$med-grey:#a1a1a1;
$main: #30475e;
$dark-main: #1d242f;
$light-accent: #f2a365;
$accent: #c3641b;

$font-dark: #12161d;

//HR mixin that takes in $color-val and $opactity-val as arguements
@mixin hr-styled($color-val, $opacity-val) {
    background-color: $color-val;
    margin-top: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    opacity: $opacity-val;
}