@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap");
.title-row .name {
  font-family: "Arapey", serif; }

.title-row hr {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.title-row .sub-title {
  margin-left: 10px;
  margin-top: 7px; }

.title-row .title, .title-row .sub-title {
  margin-bottom: 0;
  float: left; }

.about-row .img-fluid {
  background-color: #d4d4d4;
  border-radius: 50%;
  padding: 5px; }

.portfolio-container h1 {
  font-size: calc(1.40625rem + 1.875vw);
  font-family: "Arapey", serif; }
  @media (min-width: 1200px) {
    .portfolio-container h1 {
      font-size: 2.8125rem; } }

.portfolio-container hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 80%;
  background-color: #a1a1a1;
  opacity: .3; }

.portfolio-container .card {
  min-width: 14rem; }
  .portfolio-container .card .card-img-top {
    position: relative;
    width: 100%;
    height: 18vw;
    object-fit: cover; }
  .portfolio-container .card .card-body {
    background-color: #efefef;
    padding-top: .7rem; }
    .portfolio-container .card .card-body .card-title {
      font-size: 1.125rem; }
    .portfolio-container .card .card-body .ellipses {
      font-size: 1.125rem;
      line-height: 2;
      border-style: none;
      padding: 10px 20px;
      cursor: pointer;
      position: absolute;
      right: -5px;
      top: -15px; }
      .portfolio-container .card .card-body .ellipses i {
        color: #3e1d42; }
        .portfolio-container .card .card-body .ellipses i:hover {
          color: #fdc938; }
  .portfolio-container .card .collapse i {
    color: #323e9d; }
    .portfolio-container .card .collapse i:hover {
      color: #fdc938; }

.skills-container {
  background-color: #3e1d42;
  color: #f6f7fa; }
  .skills-container h1 {
    font-size: calc(1.4375rem + 2.25vw);
    font-family: "Arapey", serif; }
    @media (min-width: 1200px) {
      .skills-container h1 {
        font-size: 3.125rem; } }
  .skills-container hr {
    margin-top: 0;
    margin-bottom: 1.5rem;
    width: 90%;
    background-color: #f6f7fa;
    opacity: .3; }
  .skills-container .tech-row {
    background-color: #451f49;
    padding: 1.5rem 1.5rem;
    border-radius: 10px; }
    .skills-container .tech-row .title h2 {
      font-size: calc(1.3rem + 0.6vw); }
      @media (min-width: 1200px) {
        .skills-container .tech-row .title h2 {
          font-size: 1.75rem; } }
    .skills-container .tech-row .card {
      margin: 1% 10% 0% 0%;
      width: 10%;
      min-width: 70.52px;
      float: left;
      background-color: #451f49;
      border-style: none; }

@media only screen and (max-width: 575px) {
  .title-row {
    text-align: center; }
    .title-row .title, .title-row .sub-title {
      float: none; }
  .about-row .blurb {
    padding-top: 10px;
    text-align: center; } }
