@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap");
.title-row .name {
  font-family: "Arapey", serif; }

.title-row hr {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.title-row .sub-title {
  margin-left: 10px;
  margin-top: 7px; }

.title-row .title, .title-row .sub-title {
  margin-bottom: 0;
  float: left; }

.about-row .img-fluid {
  background-color: #d4d4d4;
  border-radius: 50%;
  padding: 5px; }

.skills-container {
  background-color: #3e1d42;
  color: #f6f7fa; }
  .skills-container h1 {
    font-size: calc(1.4375rem + 2.25vw);
    font-family: "Arapey", serif; }
    @media (min-width: 1200px) {
      .skills-container h1 {
        font-size: 3.125rem; } }
  .skills-container hr {
    margin-top: 0;
    margin-bottom: 1.5rem;
    width: 90%;
    background-color: #f6f7fa;
    opacity: .3; }
  .skills-container .row {
    width: 70%;
    background-color: #451f49;
    margin: 1rem 2rem 2rem 16rem;
    padding: 1.5rem 1.5rem;
    border-radius: 10px; }
    .skills-container .row h2 {
      font-size: calc(1.3rem + 0.6vw);
      margin-top: 2.7rem; }
      @media (min-width: 1200px) {
        .skills-container .row h2 {
          font-size: 1.75rem; } }
    .skills-container .row .card {
      margin: 1rem 3rem 0rem 3rem;
      width: 10%;
      min-width: 70.52px;
      float: left;
      background-color: #451f49;
      border-style: none; }

@media only screen and (max-width: 575px) {
  .title-row {
    text-align: center; }
    .title-row .title, .title-row .sub-title {
      float: none; }
  .about-row .blurb {
    padding-top: 10px;
    text-align: center; } }
