@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap");
html {
  position: relative;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  color: #12161d;
  background-color: #f6f7fa;
  margin-bottom: 400px; }

.navbar {
  background-color: #f6f7fa;
  position: relative; }
  .navbar .navbar-brand {
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 10px;
    display: inline-block; }
    .navbar .navbar-brand img {
      width: 4vw; }
  .navbar button {
    border-style: none; }
  .navbar .nav-item {
    margin-right: 30px; }
    .navbar .nav-item .nav-link {
      font-size: 18px; }

.bottom-col {
  vertical-align: bottom;
  float: none; }

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #ececec; }
