@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow:wght@200;300;400;500&display=swap");
.profile-section {
  position: relative;
  height: 100vh;
  background-color: #f6f7fa;
  padding-bottom: 100px; }
  .profile-section .profile-img {
    width: 90vw;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1; }
    .profile-section .profile-img .profile-overlay {
      position: absolute;
      margin-left: 10%;
      width: 80%;
      bottom: 0%;
      z-index: 2; }
      .profile-section .profile-img .profile-overlay .wrapper {
        background-color: #ececec;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px; }
        .profile-section .profile-img .profile-overlay .wrapper > * {
          padding: 0 0 0 0;
          margin-bottom: 0px; }
  .profile-section .profile-buttons {
    padding-top: 40px; }
    .profile-section .profile-buttons .btn {
      border-radius: 50%;
      background-color: #ececec;
      color: #41b441; }
      .profile-section .profile-buttons .btn .no {
        color: #bd1b1b; }
      .profile-section .profile-buttons .btn span {
        font-size: 40pt;
        padding: 15px; }

#match-modal {
  margin-top: 20vh; }
  #match-modal button {
    border-radius: 20px; }
